@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --primaryTwo: #e5c1bd;
    --primary: #b6be9c;
    --secondary: #7b9e87;
    --secondaryTwo: #d2d0ba;
    --accent: #ffffff;

    --primaryFont: neue-haas-grotesk-display;
}
